*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.929);
    height: 10vh;
    color: white;
    padding: 0px;
}
.navlinks ul{
    display: flex;
    align-items: center;
    margin-top: -25px;
 
}
.grads{
    color: orangered;
}
.logotext{
    color: white;
    margin-left: 20px;
}
.grad{
    color: white;
    font-size: 30px;
}
#links{
    color: white;
    margin-right: 20px;
    /* padding-left: 20px; */
    font-size: 17px;
    display: inline;
}
#links:hover{
    color: orange;
    transition: 1s;
    text-decoration: overline;
}
/* header ens here  */
/* conatiner1 */
.container1{
   background-image: url(./Group-Work-That-Works_SOURCE_istockphoto.jpg);
    width: 100%;
    height: 80vh;
    /* filter: brightness(0.3); */
}
.main1{
    color: white;
    text-align: center;
    margin-top: 80px;
}
.school{
    font-size: 20px;
    padding: 10px 0px;
}
.room{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px;
}
#btn1{
    background-color: orangered;
    border: 1px solid black;
    border-color: transparent;
    color: white;
    /* border-radius: 10px; */
    padding: 7px;
    outline: none;
    margin: 10px 0px;
}
#cap{
    width: 40px;
}
#white{
    width: 30px;
}
.col1{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.649);
    width: 300px;
    color: white;
  
}
.ddd{
    display: flex;
    align-items: center;
    padding: 10px 0;

}
.cools1{
    background-color: orangered;
    width: 300px;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    display: none;
    
}
.more{
    color: white;
    font-size: 12px;
    margin: 10px 0px;
}
hr{
    width: 100px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid white;
}
.lor{
    padding: 10px 0px;
}

 /* .cools1{
    display: block;
} */
.main_1:hover .cools1 {
    display: block;
}
.main_1:hover .col1{
    display: none;
}
.main_2:hover .cools1 {
    display: block;
}
.main_2:hover .col1{
    display: none;
}
.main_3:hover .cools1 {
    display: block;
}
.main_3:hover .col1{
    display: none;
}
.main3{
    display: flex;
    margin-left: 400px;
    margin-top: 200px;
   
}
/* conatiner2  */
.container2{
    background: url(./blueimage.jpeg);
    height: 60vh;
    /* filter: brightness(0.3); */
}
.btn2{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.084);
}
.bbt{
    text-align: center;
    padding-top: 120px;
}
/* DROP DOWN */
.dropdowncontent{
    display: none;
    display: none;
    position: absolute;
    color: white;
    background-color:orangered;
    width: 160px;
    padding: 12px 16px;
    z-index: 1;
}
.downdrop:hover .dropdowncontent{
    display: block;
    margin-right: 10px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
}
#drops{
    color: white;
    font-size: 15px;
    padding: 20px 0px;
}
/* container2 */
.good{
    color: white;
    margin-left: 50px;
}
.span1{
    color: purple;
}
.free{
    font-size: 20px;
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .container5 */
.container5{
    background: url(./avatar_hat.jpg);
    /* width: 100%; */
    background-size: cover;
    height: 50vh;
    /* filter: brightness(0.3); */
    background-repeat: no-repeat;
}
.contain1{
    color: black;
    margin-top: 30px;
    
}

.take{
    font-size: 30px;
}
.box{
    background-color: rgba(0, 0, 0, 0.929);
    width: 90px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-right: 10px;
}
.box1{
    background-color: rgba(0, 0, 0, 0.929);
    width: 90px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-right: 10px;
}
.box2{
    background-color: rgba(0, 0, 0, 0.929);
    width: 90px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-right: 10px;
}
.box3{
    background-color: rgba(0, 0, 0, 0.929);
    width: 90px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-right: 10px;
}
.rem{
    font-size: 30px;
}
.days{
    color: orangered;
}
.boxes{
    display: flex;
    margin-top: 25px;
}
.containss{
    color: white;
    /* text-align: center; */
    width: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.929);
}
.forms{
    background-color: rgba(0, 0, 0, 0.408);
    width: 400px;
    height: 35vh;
}
.memo{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#nmy{
    width: 300px;
    /* margin: 30px 20px; */
    margin-top: 25px;
    color: white;
    margin-left: 20px;
    background-color: transparent;
    border-color: white;
    padding: 10px;
 
}
.contains{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.containss{
    margin-top: 40px;
}
#get{
    background-color: orangered;
    color: white;
    padding: 6px;
    border-radius: 4px;
    width: 90px;
   
}
.gett{
    text-align: center;
    margin-top: 18px;
}
header{
    display:flex ;
}
body{
    background-color: black;

}
ul{
    /* list-style: none; */
    float: right;
    /* margin-top: 10px; */
    position: absolute;
    right: 30px;
    padding: 2 0rem;
}